/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --rec-visibility: inline-flex;
  --menu-button-color: #ff0070;
  --border-color: #ff0070;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --content-title-color: #000028;
  --text-color: #f1b2ce;
  --underline-color: #f1b2ce;
  --link-color: #f1b2ce;
  --hover-color: #ff007066;
  --focus-visible-color: #f1b2ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url('../images/cover-image-dark.png');
  }
}
