/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color, #000028);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  font-weight: 400;
}

.header {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  block-size: 100vh;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--decorated-zone-color, #ff0070);
  border-inline-end: 1px solid var(--decorated-zone-color, #ff0070);
}

.decorated-zone::after {
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border-block-end: 1px solid var(--decorated-zone-color, #ff0070);
  border-inline-start: 1px solid var(--decorated-zone-color, #ff0070);
}

.header__rec {
  position: absolute;
  display: var(--rec-display, inline-flex);
  align-items: center;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
  user-select: none;
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 4px 2px currentColor;
}

.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--menu-button-color, #ff0070);
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  padding: 4px 13px;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color, #ff007066);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--border-color, #ff0070);
}

.title {
  text-transform: lowercase;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  font-weight: 700;
  color: var(--title-color, #db00ff);
}

.header__title {
  grid-column: 1 / 3;
  justify-self: start;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__lead {
  grid-row: 3;
  grid-column: 1 / 3;
  display: grid;
}

.header__lead-text {
  font-weight: 700;
  line-height: 1.3;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--content-title-color, #000028);
}

.content {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
  padding-block: 40px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__item {
  display: grid;
  gap: 10px;
}

.content__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--content-title-color);
}

.content__section-title {
  color: var(--section-title-color, #ff0070);
}

.content__items-grid {
  display: grid;
  gap: 20px;
}

.content__item-title_accent {
  font-weight: 400;
}

.content__item-text {
  color: var(--text-color, #f1b2ce);
  line-height: 1.3;
  font-weight: 400;
}

.content__link {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  text-decoration: none;
  padding-bottom: 0;
}

.content__link:hover {
  color: var(--link-color, #f1b2ce);
  border-bottom: 1px solid var(--underline-color, #f1b2ce);
}

.content__link:focus-visible {
  outline: 1px solid var(--focus-visible-color, #f1b2ce);
}

.content__section_gallery {
  display: grid;
  gap: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__item {
  overflow: hidden;
}

.gallery__image {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__lead {
    grid-column: 2 / 3;
  }

  .content {
    gap: 80px;
    padding-block: 60px;
    padding-inline: 20px;
  }

 .content__section_flow {
    grid-template-columns: 1fr 2fr;
  }

  .content__section_intro > .content__item {
    grid-column: 2;
  }

  .content__section_reasons .content__items-grid {
    grid-column: 1 / 3;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .content__section_gallery {
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .content__section_intro,
  .content__section_tips {
    column-gap: 10px;
  }

  .content__section_reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__section_reasons .content__items-grid {
    grid-column: 1 / -1;
  }

   .content__section-reasons-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .content__section-reasons-grid .content__item {
    min-width: 0;
    display: flex;
    flex-direction: column;
  }
}
